@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}


:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
    --clr-6: #052b2f;
    --clr-7: #d3d3d3;
}

p {
    color: var(--clr-7);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

body{background-color: black;}
@media screen and (max-width: 500px) {

    .test {
        color: forestgreen;
        font-size: 40px;
        font-family: "Doto", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings:
            "ROND" 0;
    }

    

    .top-page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }



    .dropdown-content {
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 150px;
        position: absolute;
        top: 100%;
        z-index: 1;           
        text-align: center;
    }

    .dropdown-content.show {
        max-height: 200px;
        opacity: 1;
    }
    .dropdown-item {
        background-color: var(--clr-6); /* or any color of your choice */
        margin: 5px 0; /* Add space between items */
        padding: 10px; /* Add some padding inside each item */
        border-radius: 5px; /* Optional: rounded corners */
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add subtle shadow */
        transition: background-color 0.3s ease; /* Optional: add a smooth transition for hover effect */
        color: var(--clr-7)
    }

    .dropdown-item:hover {
        background-color: var(--clr-4); /* Hover effect color */
    }

    button {
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    button:hover {
        background-color: #45a049;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-titles {
        color: forestgreen;
        font-size: 20px;
        font-family: "Doto", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings:
            "ROND" 0;
    }

    .desc-card {
        display: flex;
        /* border: solid 2px forestgreen; */
        border-radius: 20px;
        flex-wrap: wrap;
        padding: 15px;
        margin: 10px;
        background: var(--clr-6);
        position: relative;
    }

    .desc-card::before,
    .desc-card::after {
        content: "";
        position: absolute;
        inset: -.2rem;
        background: conic-gradient(from var(--gradient-angle), var(--clr-3), var(--clr-4), var(--clr-5), var(--clr-4), var(--clr-3));
        border-radius: inherit;
        animation: rotation 20s linear infinite;
        z-index: -1;
    }

    .desc-card::after {
        filter: blur(3.5rem);
    }
}